*.pyc
*~
.ipynb_checkpoints
*.html
testing-*
good-runs-list-db
lsveto-calibration
lsveto-total-charge
nai-expo-scaling-test.ipynb
other-scripts
plots-debugging
plots-fitting
plots-isotopes
plots-status
plots
quick-plotter.py
FIXME.txt
GITHUB-HELP.txt
LLH_ChangHyon
activity-pretty-plot
activity-scaling
calibrations
clean.sh
cluster-fits
code-revampt
commit-all.sh
commit-remove.sh
commit-status.sh
cosmo-activity
cuts
data
surface-NaI-Pb210-testing
402-plot-tweaks.py
403-root6.py
