*.pyc
*~

0_help
activity-pretty-plot
cluster-fits
good-runs-db
plots
plots-debugging
plots-fitting
plots-isotopes
plots-status
root-join-read
testing-stuff

joined/0ld

# need to make these files smaller
nai-surf-expo.root
teflon-surf-expo.root
