*.pyc
*~

0_help
activity-pretty-plot
cluster-fits
good-runs-db
plots
plots-debugging
plots-fitting
plots-isotopes
plots-status
root-join-read
testing-stuff

joined/2021_really-old
joined/2022-11-29_before-reprocessed-with-higher-energy-ranges
joined/2022-12-16_before-xplastic-and-xgamma
joined/2023-02-21_before-changing-surface-alpha-quenching
joined/2023-07-06_before-new-surf-expo-Pb206

# need to make these files smaller
nai-surf-expo.root
teflon-surf-expo.root
